In [65]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [66]:
spark = SparkSession.builder.appName("Course Work -- BD & DV").getOrCreate()

In [67]:
df = spark.read.csv('/Users/manoj/desktop/employeeincomedetails.csv', header = True)

In [68]:
df.show ()

+---+----------------+------+------------+-------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
|age|       workclass|fnlwgt|   education|education.num|marital.status|       occupation|  relationship| race|   sex|capital.gain|capital.loss|hours.per.week|native.country|income|
+---+----------------+------+------------+-------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
| 90|               ?| 77053|     HS-grad|            9|       Widowed|                ?| Not-in-family|White|Female|           0|        4356|            40| United-States| <=50K|
| 82|         Private|132870|     HS-grad|            9|       Widowed|  Exec-managerial| Not-in-family|White|Female|           0|        4356|            18| United-States| <=50K|
| 66|               ?|186061|Some-college|           10|       Widowed|                ?|     Unmarried|Black|Female|           0|        4356|            40| United-States| <=50K|
| 54|         Private|140359|     7th-8th|            4|      Divorced|Machine-op-inspct|     Unmarried|White|Female|           0|        3900|            40| United-States| <=50K|
| 41|         Private|264663|Some-college|           10|     Separated|   Prof-specialty|     Own-child|White|Female|           0|        3900|            40| United-States| <=50K|
| 34|         Private|216864|     HS-grad|            9|      Divorced|    Other-service|     Unmarried|White|Female|           0|        3770|            45| United-States| <=50K|
| 38|         Private|150601|        10th|            6|     Separated|     Adm-clerical|     Unmarried|White|  Male|           0|        3770|            40| United-States| <=50K|
| 74|       State-gov| 88638|   Doctorate|           16| Never-married|   Prof-specialty|Other-relative|White|Female|           0|        3683|            20| United-States|  >50K|
| 68|     Federal-gov|422013|     HS-grad|            9|      Divorced|   Prof-specialty| Not-in-family|White|Female|           0|        3683|            40| United-States| <=50K|
| 41|         Private| 70037|Some-college|           10| Never-married|     Craft-repair|     Unmarried|White|  Male|           0|        3004|            60|             ?|  >50K|
| 45|         Private|172274|   Doctorate|           16|      Divorced|   Prof-specialty|     Unmarried|Black|Female|           0|        3004|            35| United-States|  >50K|
| 38|Self-emp-not-inc|164526| Prof-school|           15| Never-married|   Prof-specialty| Not-in-family|White|  Male|           0|        2824|            45| United-States|  >50K|
| 52|         Private|129177|   Bachelors|           13|       Widowed|    Other-service| Not-in-family|White|Female|           0|        2824|            20| United-States|  >50K|
| 32|         Private|136204|     Masters|           14|     Separated|  Exec-managerial| Not-in-family|White|  Male|           0|        2824|            55| United-States|  >50K|
| 51|               ?|172175|   Doctorate|           16| Never-married|                ?| Not-in-family|White|  Male|           0|        2824|            40| United-States|  >50K|
| 46|         Private| 45363| Prof-school|           15|      Divorced|   Prof-specialty| Not-in-family|White|  Male|           0|        2824|            40| United-States|  >50K|
| 45|         Private|172822|        11th|            7|      Divorced| Transport-moving| Not-in-family|White|  Male|           0|        2824|            76| United-States|  >50K|
| 57|         Private|317847|     Masters|           14|      Divorced|  Exec-managerial| Not-in-family|White|  Male|           0|        2824|            50| United-States|  >50K|
| 22|         Private|119592|  Assoc-acdm|           12| Never-married|Handlers-cleaners| Not-in-family|Black|  Male|           0|        2824|            40|             ?|  >50K|
| 34|         Private|203034|   Bachelors|           13|     Separated|            Sales| Not-in-family|White|  Male|           0|        2824|            50| United-States|  >50K|
+---+----------------+------+------------+-------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 20 rows

In [69]:
df2 = df.withColumnRenamed("age", "Age").withColumnRenamed("workclass", "Sector").withColumnRenamed("fnlwgt", "UID").withColumnRenamed("education", "Educational_Qualification").withColumnRenamed("education.num", "Education Grade").withColumnRenamed("marital.status", "Marital_Status").withColumnRenamed("occupation", "Occupation").withColumnRenamed("relationship", "Relationship").withColumnRenamed("race", "Race").withColumnRenamed("sex", "Gender").withColumnRenamed("capital.gain", "Capital Gain").withColumnRenamed("capital.loss", "Capital Loss").withColumnRenamed("native.country", "Country").withColumnRenamed('hours.per.week', 'Hours Per Week').withColumnRenamed("income", "Income")

In [70]:
df2.show()

+---+----------------+------+-------------------------+---------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+-------------+------+
|Age|          Sector|   UID|Educational_Qualification|Education Grade|Marital_Status|       Occupation|  Relationship| Race|Gender|Capital Gain|Capital Loss|Hours Per Week|      Country|Income|
+---+----------------+------+-------------------------+---------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+-------------+------+
| 90|               ?| 77053|                  HS-grad|              9|       Widowed|                ?| Not-in-family|White|Female|           0|        4356|            40|United-States| <=50K|
| 82|         Private|132870|                  HS-grad|              9|       Widowed|  Exec-managerial| Not-in-family|White|Female|           0|        4356|            18|United-States| <=50K|
| 66|               ?|186061|             Some-college|             10|       Widowed|                ?|     Unmarried|Black|Female|           0|        4356|            40|United-States| <=50K|
| 54|         Private|140359|                  7th-8th|              4|      Divorced|Machine-op-inspct|     Unmarried|White|Female|           0|        3900|            40|United-States| <=50K|
| 41|         Private|264663|             Some-college|             10|     Separated|   Prof-specialty|     Own-child|White|Female|           0|        3900|            40|United-States| <=50K|
| 34|         Private|216864|                  HS-grad|              9|      Divorced|    Other-service|     Unmarried|White|Female|           0|        3770|            45|United-States| <=50K|
| 38|         Private|150601|                     10th|              6|     Separated|     Adm-clerical|     Unmarried|White|  Male|           0|        3770|            40|United-States| <=50K|
| 74|       State-gov| 88638|                Doctorate|             16| Never-married|   Prof-specialty|Other-relative|White|Female|           0|        3683|            20|United-States|  >50K|
| 68|     Federal-gov|422013|                  HS-grad|              9|      Divorced|   Prof-specialty| Not-in-family|White|Female|           0|        3683|            40|United-States| <=50K|
| 41|         Private| 70037|             Some-college|             10| Never-married|     Craft-repair|     Unmarried|White|  Male|           0|        3004|            60|            ?|  >50K|
| 45|         Private|172274|                Doctorate|             16|      Divorced|   Prof-specialty|     Unmarried|Black|Female|           0|        3004|            35|United-States|  >50K|
| 38|Self-emp-not-inc|164526|              Prof-school|             15| Never-married|   Prof-specialty| Not-in-family|White|  Male|           0|        2824|            45|United-States|  >50K|
| 52|         Private|129177|                Bachelors|             13|       Widowed|    Other-service| Not-in-family|White|Female|           0|        2824|            20|United-States|  >50K|
| 32|         Private|136204|                  Masters|             14|     Separated|  Exec-managerial| Not-in-family|White|  Male|           0|        2824|            55|United-States|  >50K|
| 51|               ?|172175|                Doctorate|             16| Never-married|                ?| Not-in-family|White|  Male|           0|        2824|            40|United-States|  >50K|
| 46|         Private| 45363|              Prof-school|             15|      Divorced|   Prof-specialty| Not-in-family|White|  Male|           0|        2824|            40|United-States|  >50K|
| 45|         Private|172822|                     11th|              7|      Divorced| Transport-moving| Not-in-family|White|  Male|           0|        2824|            76|United-States|  >50K|
| 57|         Private|317847|                  Masters|             14|      Divorced|  Exec-managerial| Not-in-family|White|  Male|           0|        2824|            50|United-States|  >50K|
| 22|         Private|119592|               Assoc-acdm|             12| Never-married|Handlers-cleaners| Not-in-family|Black|  Male|           0|        2824|            40|            ?|  >50K|
| 34|         Private|203034|                Bachelors|             13|     Separated|            Sales| Not-in-family|White|  Male|           0|        2824|            50|United-States|  >50K|
+---+----------------+------+-------------------------+---------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+-------------+------+
only showing top 20 rows

In [71]:
df2.count()

32561

In [72]:
df2 = df2.drop('Capital Gain', 'Capital Loss', 'UID', 'Hours Per Week', 'Education Grade')

In [73]:
df2.show()

+---+----------------+-------------------------+--------------+-----------------+--------------+-----+------+-------------+------+
|Age|          Sector|Educational_Qualification|Marital_Status|       Occupation|  Relationship| Race|Gender|      Country|Income|
+---+----------------+-------------------------+--------------+-----------------+--------------+-----+------+-------------+------+
| 90|               ?|                  HS-grad|       Widowed|                ?| Not-in-family|White|Female|United-States| <=50K|
| 82|         Private|                  HS-grad|       Widowed|  Exec-managerial| Not-in-family|White|Female|United-States| <=50K|
| 66|               ?|             Some-college|       Widowed|                ?|     Unmarried|Black|Female|United-States| <=50K|
| 54|         Private|                  7th-8th|      Divorced|Machine-op-inspct|     Unmarried|White|Female|United-States| <=50K|
| 41|         Private|             Some-college|     Separated|   Prof-specialty|     Own-child|White|Female|United-States| <=50K|
| 34|         Private|                  HS-grad|      Divorced|    Other-service|     Unmarried|White|Female|United-States| <=50K|
| 38|         Private|                     10th|     Separated|     Adm-clerical|     Unmarried|White|  Male|United-States| <=50K|
| 74|       State-gov|                Doctorate| Never-married|   Prof-specialty|Other-relative|White|Female|United-States|  >50K|
| 68|     Federal-gov|                  HS-grad|      Divorced|   Prof-specialty| Not-in-family|White|Female|United-States| <=50K|
| 41|         Private|             Some-college| Never-married|     Craft-repair|     Unmarried|White|  Male|            ?|  >50K|
| 45|         Private|                Doctorate|      Divorced|   Prof-specialty|     Unmarried|Black|Female|United-States|  >50K|
| 38|Self-emp-not-inc|              Prof-school| Never-married|   Prof-specialty| Not-in-family|White|  Male|United-States|  >50K|
| 52|         Private|                Bachelors|       Widowed|    Other-service| Not-in-family|White|Female|United-States|  >50K|
| 32|         Private|                  Masters|     Separated|  Exec-managerial| Not-in-family|White|  Male|United-States|  >50K|
| 51|               ?|                Doctorate| Never-married|                ?| Not-in-family|White|  Male|United-States|  >50K|
| 46|         Private|              Prof-school|      Divorced|   Prof-specialty| Not-in-family|White|  Male|United-States|  >50K|
| 45|         Private|                     11th|      Divorced| Transport-moving| Not-in-family|White|  Male|United-States|  >50K|
| 57|         Private|                  Masters|      Divorced|  Exec-managerial| Not-in-family|White|  Male|United-States|  >50K|
| 22|         Private|               Assoc-acdm| Never-married|Handlers-cleaners| Not-in-family|Black|  Male|            ?|  >50K|
| 34|         Private|                Bachelors|     Separated|            Sales| Not-in-family|White|  Male|United-States|  >50K|
+---+----------------+-------------------------+--------------+-----------------+--------------+-----+------+-------------+------+
only showing top 20 rows

In [74]:
df3 = df2.replace(['<=50K', '>50K'], ['0', '1'], 'Income')

In [75]:
df3.show()

+---+----------------+-------------------------+--------------+-----------------+--------------+-----+------+-------------+------+
|Age|          Sector|Educational_Qualification|Marital_Status|       Occupation|  Relationship| Race|Gender|      Country|Income|
+---+----------------+-------------------------+--------------+-----------------+--------------+-----+------+-------------+------+
| 90|               ?|                  HS-grad|       Widowed|                ?| Not-in-family|White|Female|United-States|     0|
| 82|         Private|                  HS-grad|       Widowed|  Exec-managerial| Not-in-family|White|Female|United-States|     0|
| 66|               ?|             Some-college|       Widowed|                ?|     Unmarried|Black|Female|United-States|     0|
| 54|         Private|                  7th-8th|      Divorced|Machine-op-inspct|     Unmarried|White|Female|United-States|     0|
| 41|         Private|             Some-college|     Separated|   Prof-specialty|     Own-child|White|Female|United-States|     0|
| 34|         Private|                  HS-grad|      Divorced|    Other-service|     Unmarried|White|Female|United-States|     0|
| 38|         Private|                     10th|     Separated|     Adm-clerical|     Unmarried|White|  Male|United-States|     0|
| 74|       State-gov|                Doctorate| Never-married|   Prof-specialty|Other-relative|White|Female|United-States|     1|
| 68|     Federal-gov|                  HS-grad|      Divorced|   Prof-specialty| Not-in-family|White|Female|United-States|     0|
| 41|         Private|             Some-college| Never-married|     Craft-repair|     Unmarried|White|  Male|            ?|     1|
| 45|         Private|                Doctorate|      Divorced|   Prof-specialty|     Unmarried|Black|Female|United-States|     1|
| 38|Self-emp-not-inc|              Prof-school| Never-married|   Prof-specialty| Not-in-family|White|  Male|United-States|     1|
| 52|         Private|                Bachelors|       Widowed|    Other-service| Not-in-family|White|Female|United-States|     1|
| 32|         Private|                  Masters|     Separated|  Exec-managerial| Not-in-family|White|  Male|United-States|     1|
| 51|               ?|                Doctorate| Never-married|                ?| Not-in-family|White|  Male|United-States|     1|
| 46|         Private|              Prof-school|      Divorced|   Prof-specialty| Not-in-family|White|  Male|United-States|     1|
| 45|         Private|                     11th|      Divorced| Transport-moving| Not-in-family|White|  Male|United-States|     1|
| 57|         Private|                  Masters|      Divorced|  Exec-managerial| Not-in-family|White|  Male|United-States|     1|
| 22|         Private|               Assoc-acdm| Never-married|Handlers-cleaners| Not-in-family|Black|  Male|            ?|     1|
| 34|         Private|                Bachelors|     Separated|            Sales| Not-in-family|White|  Male|United-States|     1|
+---+----------------+-------------------------+--------------+-----------------+--------------+-----+------+-------------+------+
only showing top 20 rows

In [76]:
df3 = df3.replace('?', 'Null')

In [77]:
df3.show()

+---+----------------+-------------------------+--------------+-----------------+--------------+-----+------+-------------+------+
|Age|          Sector|Educational_Qualification|Marital_Status|       Occupation|  Relationship| Race|Gender|      Country|Income|
+---+----------------+-------------------------+--------------+-----------------+--------------+-----+------+-------------+------+
| 90|            Null|                  HS-grad|       Widowed|             Null| Not-in-family|White|Female|United-States|     0|
| 82|         Private|                  HS-grad|       Widowed|  Exec-managerial| Not-in-family|White|Female|United-States|     0|
| 66|            Null|             Some-college|       Widowed|             Null|     Unmarried|Black|Female|United-States|     0|
| 54|         Private|                  7th-8th|      Divorced|Machine-op-inspct|     Unmarried|White|Female|United-States|     0|
| 41|         Private|             Some-college|     Separated|   Prof-specialty|     Own-child|White|Female|United-States|     0|
| 34|         Private|                  HS-grad|      Divorced|    Other-service|     Unmarried|White|Female|United-States|     0|
| 38|         Private|                     10th|     Separated|     Adm-clerical|     Unmarried|White|  Male|United-States|     0|
| 74|       State-gov|                Doctorate| Never-married|   Prof-specialty|Other-relative|White|Female|United-States|     1|
| 68|     Federal-gov|                  HS-grad|      Divorced|   Prof-specialty| Not-in-family|White|Female|United-States|     0|
| 41|         Private|             Some-college| Never-married|     Craft-repair|     Unmarried|White|  Male|         Null|     1|
| 45|         Private|                Doctorate|      Divorced|   Prof-specialty|     Unmarried|Black|Female|United-States|     1|
| 38|Self-emp-not-inc|              Prof-school| Never-married|   Prof-specialty| Not-in-family|White|  Male|United-States|     1|
| 52|         Private|                Bachelors|       Widowed|    Other-service| Not-in-family|White|Female|United-States|     1|
| 32|         Private|                  Masters|     Separated|  Exec-managerial| Not-in-family|White|  Male|United-States|     1|
| 51|            Null|                Doctorate| Never-married|             Null| Not-in-family|White|  Male|United-States|     1|
| 46|         Private|              Prof-school|      Divorced|   Prof-specialty| Not-in-family|White|  Male|United-States|     1|
| 45|         Private|                     11th|      Divorced| Transport-moving| Not-in-family|White|  Male|United-States|     1|
| 57|         Private|                  Masters|      Divorced|  Exec-managerial| Not-in-family|White|  Male|United-States|     1|
| 22|         Private|               Assoc-acdm| Never-married|Handlers-cleaners| Not-in-family|Black|  Male|         Null|     1|
| 34|         Private|                Bachelors|     Separated|            Sales| Not-in-family|White|  Male|United-States|     1|
+---+----------------+-------------------------+--------------+-----------------+--------------+-----+------+-------------+------+
only showing top 20 rows

In [78]:
df3

DataFrame[Age: string, Sector: string, Educational_Qualification: string, Marital_Status: string, Occupation: string, Relationship: string, Race: string, Gender: string, Country: string, Income: string]

In [79]:
df4 = df3.withColumn("Age", df3["Age"].cast(IntegerType())) .withColumn("Sector", df3["Sector"].cast(StringType())) .withColumn("Educational_Qualification", df3["Educational_Qualification"].cast(StringType())) .withColumn("Marital_Status", df3["Marital_Status"].cast(StringType())) .withColumn("Occupation", df3["Occupation"].cast(StringType())) .withColumn("Relationship", df3["Relationship"].cast(StringType())) .withColumn("Gender", df3["Gender"].cast(StringType())) .withColumn("Country", df3["Country"].cast(StringType())) .withColumn("Income", df3["Income"].cast(IntegerType())) .withColumn("Race", df3["Race"].cast(StringType()))

In [80]:
df4.show()

+---+----------------+-------------------------+--------------+-----------------+--------------+-----+------+-------------+------+
|Age|          Sector|Educational_Qualification|Marital_Status|       Occupation|  Relationship| Race|Gender|      Country|Income|
+---+----------------+-------------------------+--------------+-----------------+--------------+-----+------+-------------+------+
| 90|            Null|                  HS-grad|       Widowed|             Null| Not-in-family|White|Female|United-States|     0|
| 82|         Private|                  HS-grad|       Widowed|  Exec-managerial| Not-in-family|White|Female|United-States|     0|
| 66|            Null|             Some-college|       Widowed|             Null|     Unmarried|Black|Female|United-States|     0|
| 54|         Private|                  7th-8th|      Divorced|Machine-op-inspct|     Unmarried|White|Female|United-States|     0|
| 41|         Private|             Some-college|     Separated|   Prof-specialty|     Own-child|White|Female|United-States|     0|
| 34|         Private|                  HS-grad|      Divorced|    Other-service|     Unmarried|White|Female|United-States|     0|
| 38|         Private|                     10th|     Separated|     Adm-clerical|     Unmarried|White|  Male|United-States|     0|
| 74|       State-gov|                Doctorate| Never-married|   Prof-specialty|Other-relative|White|Female|United-States|     1|
| 68|     Federal-gov|                  HS-grad|      Divorced|   Prof-specialty| Not-in-family|White|Female|United-States|     0|
| 41|         Private|             Some-college| Never-married|     Craft-repair|     Unmarried|White|  Male|         Null|     1|
| 45|         Private|                Doctorate|      Divorced|   Prof-specialty|     Unmarried|Black|Female|United-States|     1|
| 38|Self-emp-not-inc|              Prof-school| Never-married|   Prof-specialty| Not-in-family|White|  Male|United-States|     1|
| 52|         Private|                Bachelors|       Widowed|    Other-service| Not-in-family|White|Female|United-States|     1|
| 32|         Private|                  Masters|     Separated|  Exec-managerial| Not-in-family|White|  Male|United-States|     1|
| 51|            Null|                Doctorate| Never-married|             Null| Not-in-family|White|  Male|United-States|     1|
| 46|         Private|              Prof-school|      Divorced|   Prof-specialty| Not-in-family|White|  Male|United-States|     1|
| 45|         Private|                     11th|      Divorced| Transport-moving| Not-in-family|White|  Male|United-States|     1|
| 57|         Private|                  Masters|      Divorced|  Exec-managerial| Not-in-family|White|  Male|United-States|     1|
| 22|         Private|               Assoc-acdm| Never-married|Handlers-cleaners| Not-in-family|Black|  Male|         Null|     1|
| 34|         Private|                Bachelors|     Separated|            Sales| Not-in-family|White|  Male|United-States|     1|
+---+----------------+-------------------------+--------------+-----------------+--------------+-----+------+-------------+------+
only showing top 20 rows

In [81]:
df4.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Sector: string (nullable = true)
 |-- Educational_Qualification: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Relationship: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Income: integer (nullable = true)

In [82]:
df4.select('Age', 'Sector', 'Educational_Qualification', 'Marital_Status', 'Occupation', 'Relationship', 'Gender', 'Country', 'Income').count()

32561

In [85]:
df5 = df4.filter((df4.Sector != 'Null') & (df4.Occupation != 'Null') & (df4.Relationship != 'Null') & (df4.Gender != 'Null') & (df4.Country != 'Null') & (df4.Educational_Qualification != 'Null') & (df4.Marital_Status != 'Null'))

In [86]:
df5.show()

+---+----------------+-------------------------+------------------+-----------------+--------------+-----+------+-------------+------+
|Age|          Sector|Educational_Qualification|    Marital_Status|       Occupation|  Relationship| Race|Gender|      Country|Income|
+---+----------------+-------------------------+------------------+-----------------+--------------+-----+------+-------------+------+
| 82|         Private|                  HS-grad|           Widowed|  Exec-managerial| Not-in-family|White|Female|United-States|     0|
| 54|         Private|                  7th-8th|          Divorced|Machine-op-inspct|     Unmarried|White|Female|United-States|     0|
| 41|         Private|             Some-college|         Separated|   Prof-specialty|     Own-child|White|Female|United-States|     0|
| 34|         Private|                  HS-grad|          Divorced|    Other-service|     Unmarried|White|Female|United-States|     0|
| 38|         Private|                     10th|         Separated|     Adm-clerical|     Unmarried|White|  Male|United-States|     0|
| 74|       State-gov|                Doctorate|     Never-married|   Prof-specialty|Other-relative|White|Female|United-States|     1|
| 68|     Federal-gov|                  HS-grad|          Divorced|   Prof-specialty| Not-in-family|White|Female|United-States|     0|
| 45|         Private|                Doctorate|          Divorced|   Prof-specialty|     Unmarried|Black|Female|United-States|     1|
| 38|Self-emp-not-inc|              Prof-school|     Never-married|   Prof-specialty| Not-in-family|White|  Male|United-States|     1|
| 52|         Private|                Bachelors|           Widowed|    Other-service| Not-in-family|White|Female|United-States|     1|
| 32|         Private|                  Masters|         Separated|  Exec-managerial| Not-in-family|White|  Male|United-States|     1|
| 46|         Private|              Prof-school|          Divorced|   Prof-specialty| Not-in-family|White|  Male|United-States|     1|
| 45|         Private|                     11th|          Divorced| Transport-moving| Not-in-family|White|  Male|United-States|     1|
| 57|         Private|                  Masters|          Divorced|  Exec-managerial| Not-in-family|White|  Male|United-States|     1|
| 34|         Private|                Bachelors|         Separated|            Sales| Not-in-family|White|  Male|United-States|     1|
| 37|         Private|                Bachelors|     Never-married|  Exec-managerial| Not-in-family|White|  Male|United-States|     1|
| 29|         Private|                     11th|         Separated|            Sales| Not-in-family|White|Female|United-States|     0|
| 61|         Private|                  HS-grad|          Divorced|            Sales|     Unmarried|White|Female|United-States|     0|
| 51|         Private|             Some-college|Married-civ-spouse| Transport-moving|       Husband|White|  Male|United-States|     0|
| 21|         Private|                Assoc-voc|Married-civ-spouse|     Craft-repair|       Husband|White|  Male|United-States|     0|
+---+----------------+-------------------------+------------------+-----------------+--------------+-----+------+-------------+------+
only showing top 20 rows

In [88]:
df5.select('Age', 'Sector', 'Educational_Qualification', 'Marital_Status', 'Occupation', 'Relationship', 'Gender', 'Country', 'Income').count()

30162

In [91]:
df5.groupBy('Age').count().sort(desc("count")).show(5)

+---+-----+
|Age|count|
+---+-----+
| 36|  852|
| 31|  851|
| 33|  837|
| 34|  836|
| 37|  828|
+---+-----+
only showing top 5 rows

In [92]:
df5.groupBy('Sector').count().sort(desc("count")).show(5)

+----------------+-----+
|          Sector|count|
+----------------+-----+
|         Private|22286|
|Self-emp-not-inc| 2499|
|       Local-gov| 2067|
|       State-gov| 1279|
|    Self-emp-inc| 1074|
+----------------+-----+
only showing top 5 rows

In [93]:
df5.groupBy('Educational_Qualification').count().sort(desc("count")).show(5)

+-------------------------+-----+
|Educational_Qualification|count|
+-------------------------+-----+
|                  HS-grad| 9840|
|             Some-college| 6678|
|                Bachelors| 5044|
|                  Masters| 1627|
|                Assoc-voc| 1307|
+-------------------------+-----+
only showing top 5 rows

In [94]:
df5.groupBy('Marital_Status').count().sort(desc("count")).show(5)

+------------------+-----+
|    Marital_Status|count|
+------------------+-----+
|Married-civ-spouse|14065|
|     Never-married| 9726|
|          Divorced| 4214|
|         Separated|  939|
|           Widowed|  827|
+------------------+-----+
only showing top 5 rows

In [95]:
df5.groupBy('Age', 'Sector', 'Educational_Qualification', 'Marital_Status', 'Relationship', 'Gender', 'Country', 'Income', 'Race').count().sort(desc("count")).show(10)

+---+-------+-------------------------+------------------+------------+------+-------------+------+-----+-----+
|Age| Sector|Educational_Qualification|    Marital_Status|Relationship|Gender|      Country|Income| Race|count|
+---+-------+-------------------------+------------------+------------+------+-------------+------+-----+-----+
| 20|Private|             Some-college|     Never-married|   Own-child|Female|United-States|     0|White|   98|
| 19|Private|             Some-college|     Never-married|   Own-child|Female|United-States|     0|White|   95|
| 20|Private|             Some-college|     Never-married|   Own-child|  Male|United-States|     0|White|   85|
| 21|Private|             Some-college|     Never-married|   Own-child|Female|United-States|     0|White|   77|
| 19|Private|                  HS-grad|     Never-married|   Own-child|  Male|United-States|     0|White|   74|
| 21|Private|             Some-college|     Never-married|   Own-child|  Male|United-States|     0|White|   72|
| 35|Private|                  HS-grad|Married-civ-spouse|     Husband|  Male|United-States|     0|White|   70|
| 33|Private|                  HS-grad|Married-civ-spouse|     Husband|  Male|United-States|     0|White|   64|
| 19|Private|             Some-college|     Never-married|   Own-child|  Male|United-States|     0|White|   64|
| 36|Private|                  HS-grad|Married-civ-spouse|     Husband|  Male|United-States|     0|White|   63|
+---+-------+-------------------------+------------------+------------+------+-------------+------+-----+-----+
only showing top 10 rows

In [97]:
df5.write.csv('/Users/manoj/desktop/Course Work -- BD & DV.csv',header=True)