In [141]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [142]:
spark = SparkSession.builder.appName("Course Work -- BD & DV").getOrCreate()

In [143]:
dtFrame = spark.read.csv('/Users/manoj/desktop/employeeincomedetails.csv', header = True)

In [144]:
dtFrame.show (5)

+---+---------+------+------------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
|age|workclass|fnlwgt|   education|education.num|marital.status|       occupation| relationship| race|   sex|capital.gain|capital.loss|hours.per.week|native.country|income|
+---+---------+------+------------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
| 90|        ?| 77053|     HS-grad|            9|       Widowed|                ?|Not-in-family|White|Female|           0|        4356|            40| United-States| <=50K|
| 82|  Private|132870|     HS-grad|            9|       Widowed|  Exec-managerial|Not-in-family|White|Female|           0|        4356|            18| United-States| <=50K|
| 66|        ?|186061|Some-college|           10|       Widowed|                ?|    Unmarried|Black|Female|           0|        4356|            40| United-States| <=50K|
| 54|  Private|140359|     7th-8th|            4|      Divorced|Machine-op-inspct|    Unmarried|White|Female|           0|        3900|            40| United-States| <=50K|
| 41|  Private|264663|Some-college|           10|     Separated|   Prof-specialty|    Own-child|White|Female|           0|        3900|            40| United-States| <=50K|
+---+---------+------+------------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 5 rows

In [145]:
dtFrame2 = dtFrame.withColumnRenamed("age", "Age").withColumnRenamed("workclass", "Sector").withColumnRenamed("fnlwgt", "UID").withColumnRenamed("education", "Educational_Qualification").withColumnRenamed("education.num", "Education Grade").withColumnRenamed("marital.status", "Marital_Status").withColumnRenamed("occupation", "Occupation").withColumnRenamed("relationship", "Relationship").withColumnRenamed("race", "Race").withColumnRenamed("sex", "Gender").withColumnRenamed("capital.gain", "Capital Gain").withColumnRenamed("capital.loss", "Capital Loss").withColumnRenamed("native.country", "Country").withColumnRenamed('hours.per.week', 'Hours Per Week').withColumnRenamed("income", "Income")

In [146]:
dtFrame2.show(5)

+---+-------+------+-------------------------+---------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+-------------+------+
|Age| Sector|   UID|Educational_Qualification|Education Grade|Marital_Status|       Occupation| Relationship| Race|Gender|Capital Gain|Capital Loss|Hours Per Week|      Country|Income|
+---+-------+------+-------------------------+---------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+-------------+------+
| 90|      ?| 77053|                  HS-grad|              9|       Widowed|                ?|Not-in-family|White|Female|           0|        4356|            40|United-States| <=50K|
| 82|Private|132870|                  HS-grad|              9|       Widowed|  Exec-managerial|Not-in-family|White|Female|           0|        4356|            18|United-States| <=50K|
| 66|      ?|186061|             Some-college|             10|       Widowed|                ?|    Unmarried|Black|Female|           0|        4356|            40|United-States| <=50K|
| 54|Private|140359|                  7th-8th|              4|      Divorced|Machine-op-inspct|    Unmarried|White|Female|           0|        3900|            40|United-States| <=50K|
| 41|Private|264663|             Some-college|             10|     Separated|   Prof-specialty|    Own-child|White|Female|           0|        3900|            40|United-States| <=50K|
+---+-------+------+-------------------------+---------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+-------------+------+
only showing top 5 rows

In [147]:
dtFrame2.count()

32561

In [148]:
dtFrame2 = dtFrame2.drop('Capital Gain', 'Capital Loss', 'UID', 'Hours Per Week', 'Education Grade')

In [149]:
dtFrame2.show(5)

+---+-------+-------------------------+--------------+-----------------+-------------+-----+------+-------------+------+
|Age| Sector|Educational_Qualification|Marital_Status|       Occupation| Relationship| Race|Gender|      Country|Income|
+---+-------+-------------------------+--------------+-----------------+-------------+-----+------+-------------+------+
| 90|      ?|                  HS-grad|       Widowed|                ?|Not-in-family|White|Female|United-States| <=50K|
| 82|Private|                  HS-grad|       Widowed|  Exec-managerial|Not-in-family|White|Female|United-States| <=50K|
| 66|      ?|             Some-college|       Widowed|                ?|    Unmarried|Black|Female|United-States| <=50K|
| 54|Private|                  7th-8th|      Divorced|Machine-op-inspct|    Unmarried|White|Female|United-States| <=50K|
| 41|Private|             Some-college|     Separated|   Prof-specialty|    Own-child|White|Female|United-States| <=50K|
+---+-------+-------------------------+--------------+-----------------+-------------+-----+------+-------------+------+
only showing top 5 rows

In [150]:
dtFrame3 = dtFrame2.replace(['<=50K', '>50K'], ['0', '1'], 'Income')

In [151]:
dtFrame3.show(5)

+---+-------+-------------------------+--------------+-----------------+-------------+-----+------+-------------+------+
|Age| Sector|Educational_Qualification|Marital_Status|       Occupation| Relationship| Race|Gender|      Country|Income|
+---+-------+-------------------------+--------------+-----------------+-------------+-----+------+-------------+------+
| 90|      ?|                  HS-grad|       Widowed|                ?|Not-in-family|White|Female|United-States|     0|
| 82|Private|                  HS-grad|       Widowed|  Exec-managerial|Not-in-family|White|Female|United-States|     0|
| 66|      ?|             Some-college|       Widowed|                ?|    Unmarried|Black|Female|United-States|     0|
| 54|Private|                  7th-8th|      Divorced|Machine-op-inspct|    Unmarried|White|Female|United-States|     0|
| 41|Private|             Some-college|     Separated|   Prof-specialty|    Own-child|White|Female|United-States|     0|
+---+-------+-------------------------+--------------+-----------------+-------------+-----+------+-------------+------+
only showing top 5 rows

In [152]:
dtFrame3 = dtFrame3.replace('?', 'Null')

In [153]:
dtFrame3.show(5)

+---+-------+-------------------------+--------------+-----------------+-------------+-----+------+-------------+------+
|Age| Sector|Educational_Qualification|Marital_Status|       Occupation| Relationship| Race|Gender|      Country|Income|
+---+-------+-------------------------+--------------+-----------------+-------------+-----+------+-------------+------+
| 90|   Null|                  HS-grad|       Widowed|             Null|Not-in-family|White|Female|United-States|     0|
| 82|Private|                  HS-grad|       Widowed|  Exec-managerial|Not-in-family|White|Female|United-States|     0|
| 66|   Null|             Some-college|       Widowed|             Null|    Unmarried|Black|Female|United-States|     0|
| 54|Private|                  7th-8th|      Divorced|Machine-op-inspct|    Unmarried|White|Female|United-States|     0|
| 41|Private|             Some-college|     Separated|   Prof-specialty|    Own-child|White|Female|United-States|     0|
+---+-------+-------------------------+--------------+-----------------+-------------+-----+------+-------------+------+
only showing top 5 rows

In [154]:
dtFrame3

DataFrame[Age: string, Sector: string, Educational_Qualification: string, Marital_Status: string, Occupation: string, Relationship: string, Race: string, Gender: string, Country: string, Income: string]

In [155]:
dtFrame4 = dtFrame3.withColumn("Age", dtFrame3["Age"].cast(IntegerType())) .withColumn("Sector", dtFrame3["Sector"].cast(StringType())) .withColumn("Educational_Qualification", dtFrame3["Educational_Qualification"].cast(StringType())) .withColumn("Marital_Status", dtFrame3["Marital_Status"].cast(StringType())) .withColumn("Occupation", dtFrame3["Occupation"].cast(StringType())) .withColumn("Relationship", dtFrame3["Relationship"].cast(StringType())) .withColumn("Gender", dtFrame3["Gender"].cast(StringType())) .withColumn("Country", dtFrame3["Country"].cast(StringType())) .withColumn("Income", dtFrame3["Income"].cast(IntegerType())) .withColumn("Race", dtFrame3["Race"].cast(StringType()))

In [156]:
dtFrame4.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Sector: string (nullable = true)
 |-- Educational_Qualification: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Relationship: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Income: integer (nullable = true)

In [157]:
dtFrame4.select('Age', 'Sector', 'Educational_Qualification', 'Marital_Status', 'Occupation', 'Relationship', 'Gender', 'Country', 'Income').count()

32561

In [158]:
dtFrame5 = dtFrame4.filter((dtFrame4.Sector != 'Null') & (dtFrame4.Occupation != 'Null') & (dtFrame4.Relationship != 'Null') & (dtFrame4.Gender != 'Null') & (dtFrame4.Country != 'Null') & (dtFrame4.Educational_Qualification != 'Null') & (dtFrame4.Marital_Status != 'Null'))

In [159]:
dtFrame5.show(5)

+---+-------+-------------------------+--------------+-----------------+-------------+-----+------+-------------+------+
|Age| Sector|Educational_Qualification|Marital_Status|       Occupation| Relationship| Race|Gender|      Country|Income|
+---+-------+-------------------------+--------------+-----------------+-------------+-----+------+-------------+------+
| 82|Private|                  HS-grad|       Widowed|  Exec-managerial|Not-in-family|White|Female|United-States|     0|
| 54|Private|                  7th-8th|      Divorced|Machine-op-inspct|    Unmarried|White|Female|United-States|     0|
| 41|Private|             Some-college|     Separated|   Prof-specialty|    Own-child|White|Female|United-States|     0|
| 34|Private|                  HS-grad|      Divorced|    Other-service|    Unmarried|White|Female|United-States|     0|
| 38|Private|                     10th|     Separated|     Adm-clerical|    Unmarried|White|  Male|United-States|     0|
+---+-------+-------------------------+--------------+-----------------+-------------+-----+------+-------------+------+
only showing top 5 rows

In [160]:
dtFrame5.select('Age', 'Sector', 'Educational_Qualification', 'Marital_Status', 'Occupation', 'Relationship', 'Gender', 'Country', 'Income').count()

30162

In [161]:
dtFrame5.groupBy('Age').count().sort(desc("count")).show(5)

+---+-----+
|Age|count|
+---+-----+
| 36|  852|
| 31|  851|
| 33|  837|
| 34|  836|
| 37|  828|
+---+-----+
only showing top 5 rows

In [162]:
dtFrame5.groupBy('Sector').count().sort(desc("count")).show(5)

+----------------+-----+
|          Sector|count|
+----------------+-----+
|         Private|22286|
|Self-emp-not-inc| 2499|
|       Local-gov| 2067|
|       State-gov| 1279|
|    Self-emp-inc| 1074|
+----------------+-----+
only showing top 5 rows

In [163]:
dtFrame5.groupBy('Educational_Qualification').count().sort(desc("count")).show(5)

+-------------------------+-----+
|Educational_Qualification|count|
+-------------------------+-----+
|                  HS-grad| 9840|
|             Some-college| 6678|
|                Bachelors| 5044|
|                  Masters| 1627|
|                Assoc-voc| 1307|
+-------------------------+-----+
only showing top 5 rows

In [164]:
dtFrame5.groupBy('Marital_Status').count().sort(desc("count")).show(5)

+------------------+-----+
|    Marital_Status|count|
+------------------+-----+
|Married-civ-spouse|14065|
|     Never-married| 9726|
|          Divorced| 4214|
|         Separated|  939|
|           Widowed|  827|
+------------------+-----+
only showing top 5 rows

In [165]:
dtFrame5.groupBy('Age', 'Sector', 'Educational_Qualification', 'Marital_Status', 'Relationship', 'Gender', 'Country', 'Income', 'Race').count().sort(desc("count")).show(10)

+---+-------+-------------------------+------------------+------------+------+-------------+------+-----+-----+
|Age| Sector|Educational_Qualification|    Marital_Status|Relationship|Gender|      Country|Income| Race|count|
+---+-------+-------------------------+------------------+------------+------+-------------+------+-----+-----+
| 20|Private|             Some-college|     Never-married|   Own-child|Female|United-States|     0|White|   98|
| 19|Private|             Some-college|     Never-married|   Own-child|Female|United-States|     0|White|   95|
| 20|Private|             Some-college|     Never-married|   Own-child|  Male|United-States|     0|White|   85|
| 21|Private|             Some-college|     Never-married|   Own-child|Female|United-States|     0|White|   77|
| 19|Private|                  HS-grad|     Never-married|   Own-child|  Male|United-States|     0|White|   74|
| 21|Private|             Some-college|     Never-married|   Own-child|  Male|United-States|     0|White|   72|
| 35|Private|                  HS-grad|Married-civ-spouse|     Husband|  Male|United-States|     0|White|   70|
| 33|Private|                  HS-grad|Married-civ-spouse|     Husband|  Male|United-States|     0|White|   64|
| 19|Private|             Some-college|     Never-married|   Own-child|  Male|United-States|     0|White|   64|
| 36|Private|                  HS-grad|Married-civ-spouse|     Husband|  Male|United-States|     0|White|   63|
+---+-------+-------------------------+------------------+------------+------+-------------+------+-----+-----+
only showing top 10 rows

In [166]:
dtFrame5.write.csv('/Users/manoj/desktop/Course Work -- BD & DV.csv',header=True)