In [46]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import col, asc,desc

In [47]:
spark = SparkSession.builder.appName("Course Work -- BD & DV").getOrCreate()

In [48]:
df = spark.read.csv('/Users/manoj/desktop/employeeincomedetails.csv', header = True)

In [49]:
df.show ()

+---+----------------+------+------------+-------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
|age|       workclass|fnlwgt|   education|education.num|marital.status|       occupation|  relationship| race|   sex|capital.gain|capital.loss|hours.per.week|native.country|income|
+---+----------------+------+------------+-------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
| 90|               ?| 77053|     HS-grad|            9|       Widowed|                ?| Not-in-family|White|Female|           0|        4356|            40| United-States| <=50K|
| 82|         Private|132870|     HS-grad|            9|       Widowed|  Exec-managerial| Not-in-family|White|Female|           0|        4356|            18| United-States| <=50K|
| 66|               ?|186061|Some-college|           10|       Widowed|                ?|     Unmarried|Black|Female|           0|        4356|            40| United-States| <=50K|
| 54|         Private|140359|     7th-8th|            4|      Divorced|Machine-op-inspct|     Unmarried|White|Female|           0|        3900|            40| United-States| <=50K|
| 41|         Private|264663|Some-college|           10|     Separated|   Prof-specialty|     Own-child|White|Female|           0|        3900|            40| United-States| <=50K|
| 34|         Private|216864|     HS-grad|            9|      Divorced|    Other-service|     Unmarried|White|Female|           0|        3770|            45| United-States| <=50K|
| 38|         Private|150601|        10th|            6|     Separated|     Adm-clerical|     Unmarried|White|  Male|           0|        3770|            40| United-States| <=50K|
| 74|       State-gov| 88638|   Doctorate|           16| Never-married|   Prof-specialty|Other-relative|White|Female|           0|        3683|            20| United-States|  >50K|
| 68|     Federal-gov|422013|     HS-grad|            9|      Divorced|   Prof-specialty| Not-in-family|White|Female|           0|        3683|            40| United-States| <=50K|
| 41|         Private| 70037|Some-college|           10| Never-married|     Craft-repair|     Unmarried|White|  Male|           0|        3004|            60|             ?|  >50K|
| 45|         Private|172274|   Doctorate|           16|      Divorced|   Prof-specialty|     Unmarried|Black|Female|           0|        3004|            35| United-States|  >50K|
| 38|Self-emp-not-inc|164526| Prof-school|           15| Never-married|   Prof-specialty| Not-in-family|White|  Male|           0|        2824|            45| United-States|  >50K|
| 52|         Private|129177|   Bachelors|           13|       Widowed|    Other-service| Not-in-family|White|Female|           0|        2824|            20| United-States|  >50K|
| 32|         Private|136204|     Masters|           14|     Separated|  Exec-managerial| Not-in-family|White|  Male|           0|        2824|            55| United-States|  >50K|
| 51|               ?|172175|   Doctorate|           16| Never-married|                ?| Not-in-family|White|  Male|           0|        2824|            40| United-States|  >50K|
| 46|         Private| 45363| Prof-school|           15|      Divorced|   Prof-specialty| Not-in-family|White|  Male|           0|        2824|            40| United-States|  >50K|
| 45|         Private|172822|        11th|            7|      Divorced| Transport-moving| Not-in-family|White|  Male|           0|        2824|            76| United-States|  >50K|
| 57|         Private|317847|     Masters|           14|      Divorced|  Exec-managerial| Not-in-family|White|  Male|           0|        2824|            50| United-States|  >50K|
| 22|         Private|119592|  Assoc-acdm|           12| Never-married|Handlers-cleaners| Not-in-family|Black|  Male|           0|        2824|            40|             ?|  >50K|
| 34|         Private|203034|   Bachelors|           13|     Separated|            Sales| Not-in-family|White|  Male|           0|        2824|            50| United-States|  >50K|
+---+----------------+------+------------+-------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 20 rows

In [50]:
df

DataFrame[age: string, workclass: string, fnlwgt: string, education: string, education.num: string, marital.status: string, occupation: string, relationship: string, race: string, sex: string, capital.gain: string, capital.loss: string, hours.per.week: string, native.country: string, income: string]

In [51]:
df2 = df.withColumnRenamed("age", "Age").withColumnRenamed("workclass", "Sector").withColumnRenamed("fnlwgt", "UID").withColumnRenamed("education", "Educational Qualification").withColumnRenamed("education.num", "Education Grade").withColumnRenamed("marital.status", "Marital Status").withColumnRenamed("occupation", "Occupation").withColumnRenamed("relationship", "Relationship").withColumnRenamed("race", "Race").withColumnRenamed("sex", "Gender").withColumnRenamed("capital.gain", "Capital Gain").withColumnRenamed("capital.loss", "Capital Loss").withColumnRenamed("native.country", "Country").withColumnRenamed('hours.per.week', 'Hours Per Week').withColumnRenamed("income", "Income")

In [52]:
df2.show()

+---+----------------+------+-------------------------+---------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+-------------+------+
|Age|          Sector|   UID|Educational Qualification|Education Grade|Marital Status|       Occupation|  Relationship| Race|Gender|Capital Gain|Capital Loss|Hours Per Week|      Country|Income|
+---+----------------+------+-------------------------+---------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+-------------+------+
| 90|               ?| 77053|                  HS-grad|              9|       Widowed|                ?| Not-in-family|White|Female|           0|        4356|            40|United-States| <=50K|
| 82|         Private|132870|                  HS-grad|              9|       Widowed|  Exec-managerial| Not-in-family|White|Female|           0|        4356|            18|United-States| <=50K|
| 66|               ?|186061|             Some-college|             10|       Widowed|                ?|     Unmarried|Black|Female|           0|        4356|            40|United-States| <=50K|
| 54|         Private|140359|                  7th-8th|              4|      Divorced|Machine-op-inspct|     Unmarried|White|Female|           0|        3900|            40|United-States| <=50K|
| 41|         Private|264663|             Some-college|             10|     Separated|   Prof-specialty|     Own-child|White|Female|           0|        3900|            40|United-States| <=50K|
| 34|         Private|216864|                  HS-grad|              9|      Divorced|    Other-service|     Unmarried|White|Female|           0|        3770|            45|United-States| <=50K|
| 38|         Private|150601|                     10th|              6|     Separated|     Adm-clerical|     Unmarried|White|  Male|           0|        3770|            40|United-States| <=50K|
| 74|       State-gov| 88638|                Doctorate|             16| Never-married|   Prof-specialty|Other-relative|White|Female|           0|        3683|            20|United-States|  >50K|
| 68|     Federal-gov|422013|                  HS-grad|              9|      Divorced|   Prof-specialty| Not-in-family|White|Female|           0|        3683|            40|United-States| <=50K|
| 41|         Private| 70037|             Some-college|             10| Never-married|     Craft-repair|     Unmarried|White|  Male|           0|        3004|            60|            ?|  >50K|
| 45|         Private|172274|                Doctorate|             16|      Divorced|   Prof-specialty|     Unmarried|Black|Female|           0|        3004|            35|United-States|  >50K|
| 38|Self-emp-not-inc|164526|              Prof-school|             15| Never-married|   Prof-specialty| Not-in-family|White|  Male|           0|        2824|            45|United-States|  >50K|
| 52|         Private|129177|                Bachelors|             13|       Widowed|    Other-service| Not-in-family|White|Female|           0|        2824|            20|United-States|  >50K|
| 32|         Private|136204|                  Masters|             14|     Separated|  Exec-managerial| Not-in-family|White|  Male|           0|        2824|            55|United-States|  >50K|
| 51|               ?|172175|                Doctorate|             16| Never-married|                ?| Not-in-family|White|  Male|           0|        2824|            40|United-States|  >50K|
| 46|         Private| 45363|              Prof-school|             15|      Divorced|   Prof-specialty| Not-in-family|White|  Male|           0|        2824|            40|United-States|  >50K|
| 45|         Private|172822|                     11th|              7|      Divorced| Transport-moving| Not-in-family|White|  Male|           0|        2824|            76|United-States|  >50K|
| 57|         Private|317847|                  Masters|             14|      Divorced|  Exec-managerial| Not-in-family|White|  Male|           0|        2824|            50|United-States|  >50K|
| 22|         Private|119592|               Assoc-acdm|             12| Never-married|Handlers-cleaners| Not-in-family|Black|  Male|           0|        2824|            40|            ?|  >50K|
| 34|         Private|203034|                Bachelors|             13|     Separated|            Sales| Not-in-family|White|  Male|           0|        2824|            50|United-States|  >50K|
+---+----------------+------+-------------------------+---------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+-------------+------+
only showing top 20 rows

In [53]:
df2 = df2.drop('Race')

In [54]:
df2.show()

+---+----------------+------+-------------------------+---------------+--------------+-----------------+--------------+------+------------+------------+--------------+-------------+------+
|Age|          Sector|   UID|Educational Qualification|Education Grade|Marital Status|       Occupation|  Relationship|Gender|Capital Gain|Capital Loss|Hours Per Week|      Country|Income|
+---+----------------+------+-------------------------+---------------+--------------+-----------------+--------------+------+------------+------------+--------------+-------------+------+
| 90|               ?| 77053|                  HS-grad|              9|       Widowed|                ?| Not-in-family|Female|           0|        4356|            40|United-States| <=50K|
| 82|         Private|132870|                  HS-grad|              9|       Widowed|  Exec-managerial| Not-in-family|Female|           0|        4356|            18|United-States| <=50K|
| 66|               ?|186061|             Some-college|             10|       Widowed|                ?|     Unmarried|Female|           0|        4356|            40|United-States| <=50K|
| 54|         Private|140359|                  7th-8th|              4|      Divorced|Machine-op-inspct|     Unmarried|Female|           0|        3900|            40|United-States| <=50K|
| 41|         Private|264663|             Some-college|             10|     Separated|   Prof-specialty|     Own-child|Female|           0|        3900|            40|United-States| <=50K|
| 34|         Private|216864|                  HS-grad|              9|      Divorced|    Other-service|     Unmarried|Female|           0|        3770|            45|United-States| <=50K|
| 38|         Private|150601|                     10th|              6|     Separated|     Adm-clerical|     Unmarried|  Male|           0|        3770|            40|United-States| <=50K|
| 74|       State-gov| 88638|                Doctorate|             16| Never-married|   Prof-specialty|Other-relative|Female|           0|        3683|            20|United-States|  >50K|
| 68|     Federal-gov|422013|                  HS-grad|              9|      Divorced|   Prof-specialty| Not-in-family|Female|           0|        3683|            40|United-States| <=50K|
| 41|         Private| 70037|             Some-college|             10| Never-married|     Craft-repair|     Unmarried|  Male|           0|        3004|            60|            ?|  >50K|
| 45|         Private|172274|                Doctorate|             16|      Divorced|   Prof-specialty|     Unmarried|Female|           0|        3004|            35|United-States|  >50K|
| 38|Self-emp-not-inc|164526|              Prof-school|             15| Never-married|   Prof-specialty| Not-in-family|  Male|           0|        2824|            45|United-States|  >50K|
| 52|         Private|129177|                Bachelors|             13|       Widowed|    Other-service| Not-in-family|Female|           0|        2824|            20|United-States|  >50K|
| 32|         Private|136204|                  Masters|             14|     Separated|  Exec-managerial| Not-in-family|  Male|           0|        2824|            55|United-States|  >50K|
| 51|               ?|172175|                Doctorate|             16| Never-married|                ?| Not-in-family|  Male|           0|        2824|            40|United-States|  >50K|
| 46|         Private| 45363|              Prof-school|             15|      Divorced|   Prof-specialty| Not-in-family|  Male|           0|        2824|            40|United-States|  >50K|
| 45|         Private|172822|                     11th|              7|      Divorced| Transport-moving| Not-in-family|  Male|           0|        2824|            76|United-States|  >50K|
| 57|         Private|317847|                  Masters|             14|      Divorced|  Exec-managerial| Not-in-family|  Male|           0|        2824|            50|United-States|  >50K|
| 22|         Private|119592|               Assoc-acdm|             12| Never-married|Handlers-cleaners| Not-in-family|  Male|           0|        2824|            40|            ?|  >50K|
| 34|         Private|203034|                Bachelors|             13|     Separated|            Sales| Not-in-family|  Male|           0|        2824|            50|United-States|  >50K|
+---+----------------+------+-------------------------+---------------+--------------+-----------------+--------------+------+------------+------------+--------------+-------------+------+
only showing top 20 rows

In [55]:
df2 = df2.withColumn("Age", df2["Age"].cast(IntegerType())) .withColumn("Sector", df2["Sector"].cast(StringType())) .withColumn("UID", df2["UID"].cast(IntegerType())) .withColumn("Educational Qualification", df2["Educational Qualification"].cast(StringType())) .withColumn("Education Grade", df2["Education Grade"].cast(IntegerType())) .withColumn("Marital Status", df2["Marital Status"].cast(StringType())) .withColumn("Occupation", df2["Occupation"].cast(StringType())) .withColumn("Relationship", df2["Relationship"].cast(StringType())) .withColumn("Gender", df2["Gender"].cast(StringType())) .withColumn("Capital Gain", df2["Capital Gain"].cast(IntegerType())) .withColumn("Capital Loss", df2["Capital Loss"].cast(IntegerType())) .withColumn("Hours Per Week", df2["Hours Per Week"].cast(IntegerType())) .withColumn("Country", df2["Country"].cast(StringType())) .withColumn("Income", df2["Income"].cast(IntegerType()))

In [56]:
df2

DataFrame[Age: int, Sector: string, UID: int, Educational Qualification: string, Education Grade: int, Marital Status: string, Occupation: string, Relationship: string, Gender: string, Capital Gain: int, Capital Loss: int, Hours Per Week: int, Country: string, Income: int]

In [57]:
df2.show()

+---+----------------+------+-------------------------+---------------+--------------+-----------------+--------------+------+------------+------------+--------------+-------------+------+
|Age|          Sector|   UID|Educational Qualification|Education Grade|Marital Status|       Occupation|  Relationship|Gender|Capital Gain|Capital Loss|Hours Per Week|      Country|Income|
+---+----------------+------+-------------------------+---------------+--------------+-----------------+--------------+------+------------+------------+--------------+-------------+------+
| 90|               ?| 77053|                  HS-grad|              9|       Widowed|                ?| Not-in-family|Female|           0|        4356|            40|United-States|  null|
| 82|         Private|132870|                  HS-grad|              9|       Widowed|  Exec-managerial| Not-in-family|Female|           0|        4356|            18|United-States|  null|
| 66|               ?|186061|             Some-college|             10|       Widowed|                ?|     Unmarried|Female|           0|        4356|            40|United-States|  null|
| 54|         Private|140359|                  7th-8th|              4|      Divorced|Machine-op-inspct|     Unmarried|Female|           0|        3900|            40|United-States|  null|
| 41|         Private|264663|             Some-college|             10|     Separated|   Prof-specialty|     Own-child|Female|           0|        3900|            40|United-States|  null|
| 34|         Private|216864|                  HS-grad|              9|      Divorced|    Other-service|     Unmarried|Female|           0|        3770|            45|United-States|  null|
| 38|         Private|150601|                     10th|              6|     Separated|     Adm-clerical|     Unmarried|  Male|           0|        3770|            40|United-States|  null|
| 74|       State-gov| 88638|                Doctorate|             16| Never-married|   Prof-specialty|Other-relative|Female|           0|        3683|            20|United-States|  null|
| 68|     Federal-gov|422013|                  HS-grad|              9|      Divorced|   Prof-specialty| Not-in-family|Female|           0|        3683|            40|United-States|  null|
| 41|         Private| 70037|             Some-college|             10| Never-married|     Craft-repair|     Unmarried|  Male|           0|        3004|            60|            ?|  null|
| 45|         Private|172274|                Doctorate|             16|      Divorced|   Prof-specialty|     Unmarried|Female|           0|        3004|            35|United-States|  null|
| 38|Self-emp-not-inc|164526|              Prof-school|             15| Never-married|   Prof-specialty| Not-in-family|  Male|           0|        2824|            45|United-States|  null|
| 52|         Private|129177|                Bachelors|             13|       Widowed|    Other-service| Not-in-family|Female|           0|        2824|            20|United-States|  null|
| 32|         Private|136204|                  Masters|             14|     Separated|  Exec-managerial| Not-in-family|  Male|           0|        2824|            55|United-States|  null|
| 51|               ?|172175|                Doctorate|             16| Never-married|                ?| Not-in-family|  Male|           0|        2824|            40|United-States|  null|
| 46|         Private| 45363|              Prof-school|             15|      Divorced|   Prof-specialty| Not-in-family|  Male|           0|        2824|            40|United-States|  null|
| 45|         Private|172822|                     11th|              7|      Divorced| Transport-moving| Not-in-family|  Male|           0|        2824|            76|United-States|  null|
| 57|         Private|317847|                  Masters|             14|      Divorced|  Exec-managerial| Not-in-family|  Male|           0|        2824|            50|United-States|  null|
| 22|         Private|119592|               Assoc-acdm|             12| Never-married|Handlers-cleaners| Not-in-family|  Male|           0|        2824|            40|            ?|  null|
| 34|         Private|203034|                Bachelors|             13|     Separated|            Sales| Not-in-family|  Male|           0|        2824|            50|United-States|  null|
+---+----------------+------+-------------------------+---------------+--------------+-----------------+--------------+------+------------+------------+--------------+-------------+------+
only showing top 20 rows

In [58]:
df2.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Sector: string (nullable = true)
 |-- UID: integer (nullable = true)
 |-- Educational Qualification: string (nullable = true)
 |-- Education Grade: integer (nullable = true)
 |-- Marital Status: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Relationship: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Capital Gain: integer (nullable = true)
 |-- Capital Loss: integer (nullable = true)
 |-- Hours Per Week: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- Income: integer (nullable = true)

In [65]:
df2.groupBy('Age').count().show()

+---+-----+
|Age|count|
+---+-----+
| 31|  888|
| 85|    3|
| 65|  178|
| 53|  464|
| 78|   23|
| 34|  886|
| 81|   20|
| 28|  867|
| 76|   46|
| 26|  785|
| 27|  835|
| 44|  724|
| 22|  765|
| 47|  708|
| 52|  478|
| 86|    1|
| 40|  794|
| 20|  753|
| 57|  358|
| 54|  415|
+---+-----+
only showing top 20 rows

In [66]:
df2.select('Age').distinct().count()

73

In [73]:
df2.filter(df2.Age.contains('?')).show()

+---+------+---+-------------------------+---------------+--------------+----------+------------+------+------------+------------+--------------+-------+------+
|Age|Sector|UID|Educational Qualification|Education Grade|Marital Status|Occupation|Relationship|Gender|Capital Gain|Capital Loss|Hours Per Week|Country|Income|
+---+------+---+-------------------------+---------------+--------------+----------+------------+------+------------+------------+--------------+-------+------+
+---+------+---+-------------------------+---------------+--------------+----------+------------+------+------------+------------+--------------+-------+------+

In [88]:
df2.groupBy('Sector', 'Occupation').count().show()

+----------------+-----------------+-----+
|          Sector|       Occupation|count|
+----------------+-----------------+-----+
|    Self-emp-inc|    Other-service|   27|
|Self-emp-not-inc|     Craft-repair|  531|
|       State-gov|     Adm-clerical|  253|
|         Private| Transport-moving| 1266|
|     Federal-gov|     Tech-support|   68|
|Self-emp-not-inc| Transport-moving|  122|
|Self-emp-not-inc|            Sales|  385|
|     Without-pay|Handlers-cleaners|    1|
|    Self-emp-inc|     Craft-repair|  106|
|    Self-emp-inc| Transport-moving|   27|
|    Self-emp-inc|  Farming-fishing|   51|
|               ?|                ?| 1836|
|         Private|Machine-op-inspct| 1913|
|    Self-emp-inc|   Prof-specialty|  160|
|       State-gov| Transport-moving|   41|
|         Private|Handlers-cleaners| 1273|
|       Local-gov|    Other-service|  193|
|    Self-emp-inc|Machine-op-inspct|   13|
|     Without-pay|     Adm-clerical|    3|
|     Federal-gov|  Farming-fishing|    8|
+----------------+-----------------+-----+
only showing top 20 rows

In [77]:
df2.groupBy('Educational Qualification').count().show()

+-------------------------+-----+
|Educational Qualification|count|
+-------------------------+-----+
|                     10th|  933|
|                  Masters| 1723|
|                  5th-6th|  333|
|               Assoc-acdm| 1067|
|                Assoc-voc| 1382|
|                  7th-8th|  646|
|                      9th|  514|
|                  HS-grad|10501|
|                Bachelors| 5355|
|                     11th| 1175|
|                  1st-4th|  168|
|                Preschool|   51|
|                     12th|  433|
|                Doctorate|  413|
|             Some-college| 7291|
|              Prof-school|  576|
+-------------------------+-----+

In [78]:
df2.groupBy('Education Grade').count().show()

+---------------+-----+
|Education Grade|count|
+---------------+-----+
|             12| 1067|
|              1|   51|
|             13| 5355|
|              6|  933|
|             16|  413|
|              3|  333|
|              5|  514|
|             15|  576|
|              9|10501|
|              4|  646|
|              8|  433|
|              7| 1175|
|             10| 7291|
|             11| 1382|
|             14| 1723|
|              2|  168|
+---------------+-----+

In [79]:
df2.groupBy('Marital Status').count().show()

+--------------------+-----+
|      Marital Status|count|
+--------------------+-----+
|           Separated| 1025|
|       Never-married|10683|
|Married-spouse-ab...|  418|
|            Divorced| 4443|
|             Widowed|  993|
|   Married-AF-spouse|   23|
|  Married-civ-spouse|14976|
+--------------------+-----+

In [80]:
df2.groupBy('Occupation').count().show()

+-----------------+-----+
|       Occupation|count|
+-----------------+-----+
|            Sales| 3650|
|  Exec-managerial| 4066|
|   Prof-specialty| 4140|
|Handlers-cleaners| 1370|
|  Farming-fishing|  994|
|     Craft-repair| 4099|
| Transport-moving| 1597|
|  Priv-house-serv|  149|
|  Protective-serv|  649|
|    Other-service| 3295|
|     Tech-support|  928|
|Machine-op-inspct| 2002|
|     Armed-Forces|    9|
|                ?| 1843|
|     Adm-clerical| 3770|
+-----------------+-----+

In [81]:
df2.groupBy('Relationship').count().show()

+--------------+-----+
|  Relationship|count|
+--------------+-----+
|     Own-child| 5068|
| Not-in-family| 8305|
|     Unmarried| 3446|
|          Wife| 1568|
|Other-relative|  981|
|       Husband|13193|
+--------------+-----+

In [82]:
df2.groupBy('Gender').count().show()

+------+-----+
|Gender|count|
+------+-----+
|Female|10771|
|  Male|21790|
+------+-----+

In [83]:
df2.groupBy('Capital Gain').count().show()

+------------+-----+
|Capital Gain|count|
+------------+-----+
|        4101|   20|
|        2580|   12|
|        2387|    1|
|       22040|    1|
|       10605|   12|
|        5178|   97|
|        9562|    4|
|        4865|   17|
|        2907|   11|
|        2463|   11|
|       15024|  347|
|         914|    8|
|        3411|   24|
|        3456|    2|
|        2062|    2|
|        2228|    5|
|        3325|   53|
|        2961|    3|
|        2407|   19|
|        1848|    6|
+------------+-----+
only showing top 20 rows

In [84]:
df2.groupBy('Capital Loss').count().show()

+------------+-----+
|Capital Loss|count|
+------------+-----+
|        1721|   18|
|        2231|    3|
|        2392|    9|
|        1977|  168|
|        2559|   12|
|        2238|    2|
|         974|    2|
|         155|    1|
|        1974|   18|
|        2467|    1|
|        1816|    2|
|        2754|    2|
|        1564|   25|
|        1848|   51|
|         625|   12|
|        2042|    9|
|        2051|   21|
|        1944|    1|
|        2339|   17|
|        1590|   40|
+------------+-----+
only showing top 20 rows

In [85]:
df2.groupBy('Hours Per Week').count().show()

+--------------+-----+
|Hours Per Week|count|
+--------------+-----+
|            31|    5|
|            85|   13|
|            65|  244|
|            53|   25|
|            78|    8|
|            34|   28|
|            81|    3|
|            28|   86|
|            76|    3|
|            26|   30|
|            27|   30|
|            44|  212|
|            12|  173|
|            91|    3|
|            22|   44|
|            47|   49|
|             1|   20|
|            52|  138|
|            13|   23|
|             6|   64|
+--------------+-----+
only showing top 20 rows

In [86]:
df2.groupBy('Country').count().show()

+------------------+-----+
|           Country|count|
+------------------+-----+
|       Philippines|  198|
|           Germany|  137|
|          Cambodia|   19|
|            France|   29|
|            Greece|   29|
|            Taiwan|   51|
|           Ecuador|   28|
|         Nicaragua|   34|
|              Hong|   20|
|              Peru|   31|
|             China|   75|
|             India|  100|
|Holand-Netherlands|    1|
|             Italy|   73|
|              Cuba|   95|
|             South|   80|
|              Iran|   43|
|           Ireland|   24|
|              Laos|   18|
|          Thailand|   18|
+------------------+-----+
only showing top 20 rows

In [87]:
df2.groupBy('Income').count().show()

+------+-----+
|Income|count|
+------+-----+
|  null|32561|
+------+-----+

In [89]:
df2.groupBy('Age', 'Sector', 'Occupation', 'Country', 'Gender', 'Marital Status').count().show()

+---+----------------+-----------------+-------------+------+------------------+-----+
|Age|          Sector|       Occupation|      Country|Gender|    Marital Status|count|
+---+----------------+-----------------+-------------+------+------------------+-----+
| 61|         Private|            Sales|United-States|Female|          Divorced|    3|
| 42|     Federal-gov|   Prof-specialty|United-States|  Male|Married-civ-spouse|    3|
| 33|         Private|     Adm-clerical|United-States|Female|Married-civ-spouse|    8|
| 31|         Private|Machine-op-inspct|United-States|  Male|Married-civ-spouse|   26|
| 47|         Private|Handlers-cleaners|United-States|  Male|          Divorced|    3|
| 65|       Local-gov|  Exec-managerial|United-States|  Male|Married-civ-spouse|    1|
| 47|         Private|     Craft-repair|United-States|  Male|          Divorced|    5|
| 56|Self-emp-not-inc|     Adm-clerical|United-States|Female|           Widowed|    1|
| 58|         Private|   Prof-specialty|United-States|Female|Married-civ-spouse|    1|
| 79|               ?|                ?|       Poland|  Male|Married-civ-spouse|    1|
| 36|    Self-emp-inc|            Sales|United-States|  Male|Married-civ-spouse|    4|
| 30|         Private|   Prof-specialty|United-States|  Male|          Divorced|    1|
| 45|     Federal-gov|     Tech-support|    Guatemala|  Male|Married-civ-spouse|    1|
| 59|         Private|     Tech-support|United-States|  Male|Married-civ-spouse|    4|
| 53|         Private|     Craft-repair|  Puerto-Rico|  Male|Married-civ-spouse|    2|
| 52|       State-gov|     Craft-repair|United-States|  Male|Married-civ-spouse|    1|
| 23|         Private|     Adm-clerical|United-States|Female|Married-civ-spouse|    3|
| 78|         Private|            Sales|United-States|Female|           Widowed|    1|
| 34|         Private| Transport-moving|      Germany|Female|          Divorced|    1|
| 34|         Private|     Tech-support|United-States|Female|          Divorced|    3|
+---+----------------+-----------------+-------------+------+------------------+-----+
only showing top 20 rows